@import "./helper/helper";

body {
  background-color: $primaryBC;
  color: $primaryColor;
  margin: 5vw 5vw 0 5vw;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  h1 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
  }
  h3 {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
  }
  p {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
  }
  blockquote {
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
  }
}
