@import "../helper/helper";

.form {
  .btn {
    background-color: $darkTheme;
    color: $lightTheme;

    transition: all 1s;
    &:hover {
      background-color: $primaryColor;
      color: $darkTheme;
    }
  }
}
